<h1 class="heading">Reactive Forms</h1>
<form [formGroup]="myReactiveForm" class="student-form" (ngSubmit)="handleValitade()">
  <div>
    <input formControlName="name" name="name" placeholder="Enter name" type="text">
    <ng-container *ngIf="myReactiveForm.controls.name.touched">
      <span class="required-text" *ngIf="myReactiveForm.controls.name.errors?.['required']">
        please fill the name field</span>
    </ng-container>
  </div>

  <div>
    <input formControlName="email" name="email" placeholder="Enter email" type="email">
    <ng-container *ngIf="myReactiveForm.controls.email.touched">
      <span class="required-text" *ngIf="myReactiveForm.controls.email.errors?.['required']">
        please fill the email field</span>

      <span class="required-text" *ngIf="myReactiveForm.controls.email.errors?.['email']">
        Invalid email</span>
    </ng-container>
  </div>

  <div>
    <input formControlName="password" name="password" placeholder="*******" [type]="myReactiveForm.controls.passwordVisibility.value === 'show' ? 'text' :'password'">
    <ng-container *ngIf="myReactiveForm.controls.password.touched">
      <span class="required-text" *ngIf="myReactiveForm.controls.password.errors?.['required']">
        please fill the password field</span>
    </ng-container>
  </div>

  <div>
    <input formControlName="dob" name="dob" placeholder="Enter DOB" type="date">
    <ng-container *ngIf="myReactiveForm.controls.dob.touched">
      <span class="required-text" *ngIf="myReactiveForm.controls.dob.errors?.['required']">
        please fill the dob field</span>
    </ng-container>
  </div>

  <div>
    <label class="d-flex">
      show password
      <input type="radio" value="show" formControlName="passwordVisibility">
    </label>
    <label class="d-flex">
      hide password
      <input type="radio" value="hide" formControlName="passwordVisibility">
    </label>
  </div>

  <div formArrayName="Address">
    <div class="d-flex" *ngFor="let x of getAddressFromArray().controls; index as i">
      <input type="Address" [formControlName]="i" name="Address">
      <ng-container *ngIf="myReactiveForm.controls.Address.touched">
        <span class="required-text" *ngIf="myReactiveForm.controls.Address.errors?.['required']">
          please fill the Address field</span>
      </ng-container>
      <button type="button" (click)="addControlToAddress()">Add</button>
      <button type="button" (click)="removeAddress(i)">Delete</button>
    </div>
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>

<div>
  {{myReactiveForm.controls.email.errors| json}}
  {{myReactiveForm.controls.password.errors| json}}
  {{myReactiveForm.controls.passwordVisibility.value| json}}
</div>